.room-container {
    display: flex;
    height: 100vh;
    background: #0b1c2d;
    color: #fff;
    font-family: Arial, sans-serif;
}
.participants {
    max-width: 100%;
    background: #081421;
    padding: 16px;
    border-right: 2px solid #ff8c00;
}
.participants h2 {
    color: #ff8c00;
}
.participants li {
    margin: 8px 0;
}
.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.video-area {
    max-width: 100%;
    max-height: 70%;
    min-height: 0;
    flex: 2;
    margin: 16px;
    background: #112a44;
    border: 2px dashed #ff8c00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-area {
    flex: 1;
    margin: 16px;

    height: 300px;
    background: #0f2238;
    border-top: 2px solid #ff8c00;
    display: flex;
    flex-direction: column;
}
.chat-area h3 {
    color: #ff8c00;
    margin: 8px;
}
.messages {
    height: 100%;
    flex: 1;
    margin: 8px;
    background: #081421;
    overflow-y: auto;
}
.sender input {
    max-width: 60%;
    margin: 8px;
    padding: 8px;
    border: none;
    outline: none;
}
.sender button {
    max-width: 20%;
    background: #ff8c00;
    margin: 8px;
    padding: 8px;
    border: none;
    outline: none;
}
/*video*/
.video {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1400px;
}

.native-timeline-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    height: 12px;
    pointer-events: none;
}

/* сами метки */
.marker {
    position: absolute;
    top: 14px;
    width: 4px;
    height: 18px;
    margin-left: 15px;
    background: #ff8c00;
    transform: translateX(-50%);
    pointer-events: auto; /* но маркеры кликабельны */
    cursor: pointer;
}

.marker.goal { background: lime; }
.marker.warning { background: red; }
